.main{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    scroll-behavior: auto;
}

/* component */
.component{
    display: flex;
    flex-direction: column;
}
/* Project Section */
.project{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: grey;
    height: 480px;
    width: 720px;
    border-radius: 20px;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.projectDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projectDetail h3{
    color: rgb(51, 51, 51);
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.projectDetail p{
    font-size: 1.5rem;
}

.detailSecondary{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.detailIcon{
    font-size: 2rem;
    color: blue;
    font-weight: 700;
}

/* section third */
.sectionThird{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* orderview */
.order{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 480px;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 2rem;
}
/* all section */
.allSections{
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.allSections::-webkit-scrollbar {
    display: none;
  }
/* setting */
.setting{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 8%;
}
.settingIcon{
    background-color: #fff;
    border-radius: 100%;
    padding: 1.5rem;
    color: rgb(32, 41, 71);
    width: 50px;
    height: 50px;
    position: sticky;
    left: 100%;
    box-shadow: 10px 10px 30px rgba(141, 137, 137, 0.6);
    
}

/* Information */
.information{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 77%;
    left: 240px;
}
.chart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Media screen */
@media screen and (min-width:1024px) {
    .mainMenu{
        display: inline-block;
    }
    .component{
        flex-direction: row;
    }
    .chart{
        flex-direction: row;
    }
    .information{
        flex-direction: row;
        position: absolute;
        top: 77%;
        left: 240px;
    }
}